<html>
<body>
    <p>Welcome to sample getpost code
        <ul>
            <li>
                <p><a href="getform">Submit a form with GET</a></p>
            </li>
            <li>
                <p><a href="postform">Submit a form with POST</a></p>
            </li>
            <li>
                <p><a href="html4">Classinc input tags</a></p>
            </li>
            <li>
                <p><a href="html5">Html input tags</a></p>
            </li>
            <li>
                <p><a href="failform">Submit a POST without CSRF</a></p>
            </li>
            <li>
                <p><a href="csrfform">Submit a POST with CSRF</a></p>
            </li>
            <li>
                <p><a href="guess">Guessing Game</a></p>
            </li>
            <li>
                <p><a href="classy">Classy guessing game</a></p>
            </li>
            <li>
                <p><a href="bounce">Review redirect</a></p>
            </li>
            <li>
                <p><a href="awesome">Awesome guessing game</a></p>
            </li>
        </ul>
    </p>
</body>
</html>