{% extends 'base_bootstrap.html' %}
{% block title %}Django crispy forms{% endblock title %}
{% block welcome %}
    <h1>Django crispy forms and messages</h1>
{% endblock welcome %}
{% block content %}
    <p>The sample code is available at<a href="https://github.com/ciprianfc/django_learning" 
        target="_blank" >https://github.com/ciprianfc/django_learning</a>
    </p>
    <p>
        <ul>
            <li><a href="boring">Boring Form</a></li>
            <li><a href="awesome">awesome form</a></li>
        </ul>
    </p>
{% endblock content %}